@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  padding: 20px;
  color: white;
}

h1 {
  text-align: center;
  color: red;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 400px;
  border: 2px solid blue;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: blue;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px;
}

button:hover {
  background-color: blue;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  background-color: chartreuse;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgb(206, 237, 121);
}
